@page
@model StravaStatisticsAnalyzer.Web.Pages.ActivityEfforts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivityEffort</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-dang er"></div>
            <div class="form-group">
                <label asp-for="ActivityEffort.Name" class="control-label"></label>
                <input asp-for="ActivityEffort.Name" class="form-control" />
                <span asp-validation-for="ActivityEffort.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.Distance" class="control-label"></label>
                <input asp-for="ActivityEffort.Distance" class="form-control" />
                <span asp-validation-for="ActivityEffort.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.MovingTime" class="control-label"></label>
                <input asp-for="ActivityEffort.MovingTime" class="form-control" />
                <span asp-validation-for="ActivityEffort.MovingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.ElapsedTime" class="control-label"></label>
                <input asp-for="ActivityEffort.ElapsedTime" class="form-control" />
                <span asp-validation-for="ActivityEffort.ElapsedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.AvgSpeed" class="control-label"></label>
                <input asp-for="ActivityEffort.AvgSpeed" class="form-control" />
                <span asp-validation-for="ActivityEffort.AvgSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.MaxSpeed" class="control-label"></label>
                <input asp-for="ActivityEffort.MaxSpeed" class="form-control" />
                <span asp-validation-for="ActivityEffort.MaxSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.DateTime" class="control-label"></label>
                <input asp-for="ActivityEffort.DateTime" class="form-control" />
                <span asp-validation-for="ActivityEffort.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.AthleteID" class="control-label"></label>
                <input asp-for="ActivityEffort.AthleteID" class="form-control" />
                <span asp-validation-for="ActivityEffort.AthleteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.TotalElevationGain" class="control-label"></label>
                <input asp-for="ActivityEffort.TotalElevationGain" class="form-control" />
                <span asp-validation-for="ActivityEffort.TotalElevationGain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.ElevationHigh" class="control-label"></label>
                <input asp-for="ActivityEffort.ElevationHigh" class="form-control" />
                <span asp-validation-for="ActivityEffort.ElevationHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.ElevationLow" class="control-label"></label>
                <input asp-for="ActivityEffort.ElevationLow" class="form-control" />
                <span asp-validation-for="ActivityEffort.ElevationLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.StartLatitude" class="control-label"></label>
                <input asp-for="ActivityEffort.StartLatitude" class="form-control" />
                <span asp-validation-for="ActivityEffort.StartLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.StartLongitude" class="control-label"></label>
                <input asp-for="ActivityEffort.StartLongitude" class="form-control" />
                <span asp-validation-for="ActivityEffort.StartLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.EndLatitude" class="control-label"></label>
                <input asp-for="ActivityEffort.EndLatitude" class="form-control" />
                <span asp-validation-for="ActivityEffort.EndLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.EndLongitude" class="control-label"></label>
                <input asp-for="ActivityEffort.EndLongitude" class="form-control" />
                <span asp-validation-for="ActivityEffort.EndLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityEffort.Description" class="control-label"></label>
                <input asp-for="ActivityEffort.Description" class="form-control" />
                <span asp-validation-for="ActivityEffort.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActivityEffort.Commute" /> @Html.DisplayNameFor(model => model.ActivityEffort.Commute))
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
